
.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;
}
.sidebar-header{
    display:flex;
    justify-content: space-between;
    padding:20px;
    border-right:1px solid lightgrey;
}
.sidebar-headerright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 10vw;

}
.sidebar-headerright > .MuiSvgIcon-root{
    margin-right:2vw;
    font-size: 24px !important;
}
.sidebar-search{
    display: flex;
    align-items: center;
    background-color: white;
    height:39px;
    padding: 10px;
}
.sidebar-searchcontainer{
    display:flex;
    align-items: center;
    width: 100%;
    height:35px;
    border:1px solid lightgrey;
    border-radius: 20px;
}
.sidebar-searchcontainer >input{
    border:none;
    margin-left:10px;
    padding:10px;
    
}
.sidebar-searchcontainer >.MuiSvgIcon-root{
    color:gray;
    padding: 10px;
}
.sidebar-chat{
    flex: 1;
    background-color: white;
}